.image-body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 80vh;

    .img-content{
        display: flex;
        align-items: center;
        width: 80%;
        height: 90%;

        .img{
            width: 100%;
            height: 50%;
        }
    }
}