body{
    margin: 0 auto ;
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    width: 10%;
    height: 50%;
    transition: .2s ease;
}

a:hover{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    transform: translate(-3% , -3%);
    transition: .2s ease;
}